<section class="modal-overLay" id="overLay">
    <div class="modal" id="modal">
        
        <div class="modal-header">
            <h3>Remover Banda</h3>
            <a href="/" id="close-modal-put">x</a>
        </div>

        <div class="modal-body">
            <p>Tem certeza que deseja excluir o <%= bandasDel.nome %></p>
            <div id="btns-del">
                <a id="no" href="/">Não</a>
                <a id="yes" href="/remove/<%= bandasDel.id %>">Sim</a>

            </div>
        </div>

    </div>
    
</section>