<nav>
    <ul>
      <li>
        <a href="/">
          <h1>Cadastre sua Banda</h1>
        </a>
      </li>
      <li><a href="/">Bandas</a></li>
      <li><a href="/signup">Cadastrar</a></li>
    </ul>
  </nav>