<!DOCTYPE html>
<html lang="pt-BR">
  
    <%- include('./components/head') %>

  <body>
   
    <%- include('./components/nav') %>

    

    <main>
      <section id="cadastrar" class="outras">
        <div>
          <% if(message != "") { %>
            <%- include('./components/alerts') %>
              <% } %>
          <h2>Cadastre sua Banda</h2>

          <form action="/create" method="POST">
            <label for="nome" id="labelNome">Nome:</label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Digite o nome da banda:"
              
            />

            <label for="descricao" id="labelDescricao">Descrição:</label>
            <input
              type="text"
              name="descricao"
              id="descricao"
              placeholder="Digite a descrição da banda:"
              
            />

            <label for="estilo" id="labelEstilo">Estilo</label>
            <input
              type="text"
              name="estilo"
              id="estilo"
              placeholder="Digite o estilo da banda:"
              
            />

            <label for="imagem" id="labelImagem">Estilo</label>
            <input
              type="url"
              name="imagem"
              id="imagem"
              placeholder=" Link da imagem:"
              
            />

            <button type="submit" id="btnCadastrar">Cadastrar</button>
          </form>
        </div>
      </section>
    </main>

    <%- include('./components/footer') %>
   
    <script src="/js/script.js"></script>
  </body>
</html>
